---
import Card from "../atoms/InfoCard";
import Bar from "../atoms/SearchBar";
import Info from "../organism/WeatherInfo";
import ExtraWeaterInfo from "../organism/ExtraWeaterInfo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-full">
    <video autoplay loop muted class="absolute inset-0 w-full">
      <source src="../../public/OnlyClouds.mp4" type="video/mp4" />
    </video>

    <div class="relative flex flex-row m-10 rounded-md justify-center h-full">
      <div class="px-10 h-screen w-1/3 rounded-md">
        <Bar client:idle />
        <Info client:idle />
      </div>
      <div
        class="backdrop-blur-md w-2/3 p-10 rounded-md bg-opacity-30 bg-gray-500"
      >
        <ExtraWeaterInfo />
      </div>
    </div>
  </body>
</html>
